body {
    padding: 0;
    margin: 0;
}

.box  
{  
background-color:#3d4543;  
height:500px;  
width:350px;  
border-radius:10px;  
position:relative;  
top:80px;  
left:40%;  
}  

#output {
    color: white;
}

h1{
    text-align: center;
    position: relative;
    margin-top: 50px;
    font-weight: 100px;
}

.buttons {
    position: relative;
    
    
}
